<footer>
    <div class="foot-main">
        <div class="foot-social">
            <i class="fa-brands fa-square-facebook fa-lg"></i>
            <i class="fa-brands fa-square-whatsapp fa-lg"></i>
            <i class="fa-brands fa-square-instagram fa-lg"></i>
            <i class="fa-brands fa-linkedin fa-lg"></i>
        </div>
        <div class="foot-company">&#169; SOMNATH FRUITS MART PVT. LTD.</div>
        <div class="foot-contact">somnathfruitsmart45@gmail.com</div>
    </div>
</footer>