
 /* FOOTER START FROM HERE */
.foot-main{
    height: 7rem;
    background-color: rgb(185, 180, 180);
    padding-top: 1rem;
}

.foot-social{
    text-align: center;
}
.foot-company{
    text-align: center;
}
.foot-contact{
    text-align: center;
}
.foot-social i{
    margin-right: 1rem;
}


/* NAVBAR START FROM HERE */
.navbar-edit{
    height: 5rem !important;
    background-color: rgb(91, 202, 156) !important;
    position:fixed !important;
    top: 0 !important;
     z-index: 1000;
}

.nav-options a{
    color: rgb(12, 26, 219) !important;
    font-size: larger;
    opacity: .8 !important;
    font-weight: bolder !important;

}
.nav-options a:hover{
    opacity: 1 !important;
}

.nav-options .nav-logout{
    color: red !important;
}
.nav-tree {
    color: rgb(6, 121, 6) ;
    
}
.nav-options-main  {
    display: flex;
    width: 100%;
}
.nav-A{
margin-right: 0;
}
.nav-B{
    margin-left: 0;
}
@media(max-width: 994px){
    .nav-options-main{
       display: none;
    }
    
}

/* NAVBAR COLLAPSE */


.btn_one{
    font-size: 30px;
    color: white;
    font-weight: 700;
    position: absolute;
    top: 0px;
    right: 16px;
    line-height: 60px;
}
.sidebar_menu{
    width: 300px;
    height: 55%;
    background-color: rgb(21, 211, 211);
    position: fixed;
    right: -300px;
    box-shadow: 0 0 6px rgba(2, 77, 90, 0.5);
    transition: all 0.3s linear;
}
.sidebar_menu .logo {
    position: absolute;
    width: 100%;
    line-height: 60px;
    box-shadow: 0 0 6px rgb(255, 255, 255, 0.5);
    height: 60px;
}
.sidebar_menu .logo a{
    position: absolute;
    left: 50px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
}
.sidebar_menu .btn_two i{
    color: grey;
    font-size: 25px;
    line-height: 60px;
    position: absolute;
    left: 275px;
    opacity: 0;
    cursor: pointer;
}
.main_box .sidebar_menu .menu{
    position: absolute;
    width: 100%;
    top: 60px;
}
.sidebar_menu .menu li{
   margin-top: 5px ;
   padding: 10px 20px;
}
.sidebar_menu .menu i, a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.sidebar_menu .menu i{
    padding-right:10px ;
}
.sidebar_menu .social_media{
    position: absolute;
    left: 25%;
    bottom: 20px;
}
 .sidebar_menu .social_media  i{
    color: white ;
    padding: 0 5px;
    opacity: 0.5;
}

#check{
    display: none;
}
 .sidebar_menu .menu li:hover{
    box-shadow: 0 0 4px rgb(255, 255, 255,0.5);
}
.btn_one i:hover{
    font-size: 40px;
}
.btn_two i:hover{
font-size: 30px;
}
 .sidebar_menu .social_media a i:hover{
    opacity: 1;
    font-size: 1.2em;
}
 #check:checked ~ .sidebar_menu{
    position: fixed;
   right: 0;
}
#check:checked ~ .btn_one i{
opacity: 0;
}
#check:checked ~ .sidebar_menu .btn_two i{
    opacity: 1;
}

@media(min-width: 994px){
    .main_box{
        display: none;
    }
    
}

/* INDEX PAGE */
@media(max-width: 362px ){
    .index-main{ margin-left: 1rem !important;}
    .sidebar_menu{height: 50%;}
}
.index-main{
    margin-left: 4rem;
    display: flex;
    flex-wrap: wrap;
}
.card-image{
    height: 20rem;
}
.card-main{
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.btn-submit{
    text-align: center;
}

.card-title{
    font-size: larger;
    font-weight: 900;
}

/* Welcome Heading */
.welcome-heading{
    text-align: center;
    color: rgb(6, 121, 6);
}


/* SHOW PAGE */
.card-show{
    display: flex;
    justify-content: center;
}
.show-img{
    height: 17rem;
}
.show-heading{
    text-align: center;
    color: rgb(240, 69, 63);
}
.show-btns-edt{
    background-color: blue !important;
    color: white !important;
    opacity: .8;
}
.show-btns-edt:hover{
    opacity: 1;
}

.show-btns-del{
    background-color: red !important;
    color: white !important;
    opacity: .8;
}
.show-btns-del:hover{
    opacity: 1;
}
.show-main-btn{
    display: flex;
    justify-content: center;
}

.show-main-btn form{
    padding-right: 4rem;
}

/* new page */
.new-btn{
    text-align: center;
}
.new-heading{
    text-align: center;
}

/* edit page */
.edit-btn{
    text-align: center;
}
.edit-heading{
    text-align: center;
}

/* Map */
#map{
    height: 400px;
    width: 60vh;
}