<% layout("/layouts/boilerplate") %>
<body>
    <h2 style="text-align: center; color: red;">Are You Sure To Delete <%= fruit.title%>?</h2>
    <br/>
    <div style="display: flex; justify-content: center;">
     <form action="/fruits/<%=fruit._id%>?_method=DELETE" method="post" style="margin-right: 5rem;"><button class="btn btn-outline" style="background-color: red; 
     color: white; opacity: .8;" onmouseover="this.style.opacity= 1;" onmouseout="this.style.opacity=.8;">Yes</button></form>
     <br/>
     <form action="/fruits/<%=fruit._id%>" method="get"><button class="btn btn-outline" style="background-color: blue;  
     color: white; opacity: .8;" onmouseover="this.style.opacity= 1;" onmouseout="this.style.opacity=.8;">No</button></form>
    </div>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    </body>
