<% layout("./layouts/boilerplate") %>

<br/><br/><br/>

<div class="row">
    <div class="alert alert-danger col-6 offset-3" role="alert">
    
        <h4 class="alert-heading"><i class="fa-solid fa-triangle-exclamation"></i><%= message %></h4>
      </div>
</div>
<br/><br/><br/><br/><br/><br/><br/><br/>